.form{
    width: 100%;
    display: flex;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #111118;
    height: 100%;
    
}

.input{
    width: 90%;
    font-size: 1.4rem;
    padding: 1rem;
    display: block;
    border: none;
    background: none;
    padding: 0 2rem;
}

.input:focus {
    outline: none;
}

.btnSubmit{
    display: flex;
    align-items: center;
    justify-content: end;
    min-width: 10%;
    font-size: 1.8rem;
    padding-right: 2rem;
    border: none;
    background: none;
    cursor: pointer;
}

@media screen and (max-width:650px) {
    .input{
        font-size: 1rem;
    }
}
