.redacoes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    width: 100%;
}

.redacao {
    width: 25vw;
    height: 28vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 15px;
}

.redacao p{
    color:#000;
    font-size: 15px;
}

.redacoes h5{
    max-width: 22vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 10px 0 10px 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Exo 2', sans-serif;
}

@media screen and (max-width: 1400px) {
    .redacao {
        width: 24vw;
    }
}

@media screen and (max-width: 1077px) {
    .redacao {
        width: 23vw;
        height: 25vh;
    }
}

@media screen and (max-width: 889px) {
    .redacao {
        width: 35vw;
        height: 25vh;
    }

    .redacoes {
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
}

@media screen and (max-width: 889px) {
    .redacao {
        width: 40vw;
        height: 25vh;
        border-radius: 10px;
    }

    .redacoes {
        align-items: center;
        justify-content: center;
    }

    .redacoes h5{
        margin: 0;
    }
}

@media screen and (max-width: 800px) {
    .redacao {
        width: 38vw;
        height: 20vh;
    }
}

@media screen and (max-width: 445px) {
    .redacao {
        width: 35vw;
        height: 15vh;
    }
}