*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.mainBackgroundColor{
    background-color: #000;
    height: auto;
    width: auto;
}

.mainBackground {
    background: linear-gradient(135deg, #101017, #170C2F, #2B1453, #49228E, #7A218E,  hsl(262, 61%, 35%), #2B1453, #170C2F, #101017);
    width: 100vw;
    
}

.mask {
    background-color: #000;
    background-size: cover;
    opacity: 0.8;
    max-width: 100vw;
    padding: 5vw;
    padding-top: calc(100px + 5vw);
}